<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form action="/amadon/buy" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="tshirt"/>
                    <td>Dojo Tshirt</td>
                    <td><input type="hidden" name="price" value="19.99">$19.99</td>
                    <td>
                        <select name='quantity'>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                        </select>
                        <input type='submit' value='Buy!'/>
                    </td>
                </form>
            </tr>
            <tr>
                <form action="/amadon/buy" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="sweater"/>
                    <td>Dojo Sweater</td>
                    <td><input type="hidden" name="price" value="29.99">$29.99</td>
                    <td>
                        <select name='quantity'>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                        </select>
                        <input type='submit' value='Buy!' />
                    </td>
                </form>
            </tr>
            <tr>
                <form action="/amadon/buy" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="cup"/>
                    <td>Dojo Cup</td>
                    <td><input type="hidden" name="price" value="sweater_price">$4.99</td>
                    <td>
                        <select name='quantity'>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                        </select>
                        <input type='submit' value='Buy!' />
                    </td>
                </form>
            </tr>
            <tr>
                <form action="/amadon/buy" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="book"/>
                    <td>Algorithm Book</td>
                    <td><input type="hidden" name="price" value="49.99">$49.99</td>
                    <td>
                        <select name='quantity'>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                        </select>
                        <input type='submit' value='Buy!' />
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</body>
</html>